---
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
name: test-and-build
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ^1.24

      - name: get modules
        run: go mod vendor

      - name: run format
        run: make fmt && git diff --exit-code

      - name: run vet
        run: make vet

      - name: run lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: latest
          args: --timeout=10m

      - name: run build
        run: make build

      - name: run tests
        run: make test
...
